.book-list-item {
    display: flex;
    margin: 15px 0;
}

.book-list-item .book-cover {
    flex-shrink: 0;
    width: 140px;
    margin-right: 30px;
}

.book-list-item .book-cover img {
    max-width: 100%;
}

.books-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    align-items: flex-start;
    gap: 5px;
}

.books-details .book-title {
    font-size: 1.2rem;
}

.books-details .book-price {
    font-size: 1.4rem;
}